@model IEnumerable<mvc.Models.AssignmentChat>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/usersCRUD.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/default.css" asp-append-version="true" />

<h1 class="centerDiv">Assignments Chat</h1>

<p class="centerDiv">
    <a asp-action="Create" class="btn">Create New</a>
</p>
<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.studentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.assignmentId)
        </th>
		<th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.studentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.assignmentId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id" class="btn">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id" class="btn">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id" class="btn">Delete</a>
            </td>
        </tr>
    }

</table>
