@model mvc.Models.Notification

@{
    ViewData["Title"] = "Delete";
}

<link rel="stylesheet" href="~/css/delete.css" asp-append-version="true" />


<h1 class="centerDiv">Are you sure you want to delete this entry?</h1>

<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.id)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.name)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.description)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.timeSent)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.userId)
		</th>
	</tr>
	<tr>
		<td>
			@Html.DisplayFor(model => model.id)
		</td>
		<td>
			@Html.DisplayFor(model => model.name)
		</td>
		<td>
			@Html.DisplayFor(model => model.description)
		</td>
		<td>
			@Html.DisplayFor(model => model.timeSent)
		</td>
		<td>
			@Html.DisplayFor(model => model.userId)
		</td>
	</tr>
</table>

<div class="centerDiv">
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn" /> 
        <a asp-action="Index" class="btn">Back to List</a>
    </form>
</div>
